# Git Aliases
alias gs='git status'
alias gstsh='git stash'
alias gst='git stash'
alias gsp='git stash pop'
alias gsa='git stash apply'
alias gsh='git show'
alias gshw='git show'
alias gshow='git show'
alias gi='vim .gitignore'
alias gcm='git ci -m'
alias gcim='git ci -m'
alias gci='git ci'
alias gco='git co'
alias gcp='git cp'
alias ga='git add -A'
alias gap='git add -p'
alias guns='git unstage'
alias gunc='git uncommit'
alias gm='git merge'
alias gms='git merge --squash'
alias gam='git amend --reset-author'
alias grv='git remote -v'
alias grr='git remote rm'
alias grad='git remote add'
alias gr='git rebase'
alias gra='git rebase --abort'
alias ggrc='git rebase --continue'
alias gbi='git rebase --interactive'
alias gl='git l'
alias glg='git l'
alias glog='git l'
alias co='git co'
alias gf='git fetch'
alias gfp='git fetch --prune'
alias gfa='git fetch --all'
alias gfap='git fetch --all --prune'
alias gfch='git fetch'
alias gd='git diff'
alias gb='git b'alias gl='git l'
alias glb='git log --topo-order --pretty=format:"${_git_log_brief_format}"'
alias glc='git shortlog --summary --numbered'
alias gld='git log --topo-order --stat --patch --full-diff --pretty=format:"${_git_log_medium_format}"'
alias glg='git l'

# Staged and cached are the same thing
alias gdc='git diff --cached -w'
alias gds='git diff --staged -w'
alias gpub='grb publish'
alias gtr='grb track'
alias gpl='git pull'
alias gplr='git pull --rebase'
alias gps='git push'
alias gpsh='git push -u origin `git rev-parse --abbrev-ref HEAD`'
alias gnb='git nb' # new branch aka checkout -b
alias grs='git reset'
alias grsh='git reset --hard'
alias gcln='git clean'
alias gclndf='git clean -df'
alias gclndfx='git clean -dfx'
alias gsm='git submodule'
alias gsmi='git submodule init'
alias gsmu='git submodule update'
alias gt='git t'
alias gbg='git bisect good'
alias gbb='git bisect bad'
alias gdmb='git branch --merged | grep -v "\*" | xargs -n 1 git branch -d'

#Custom
alias upd='sudo apt update'
alias ins='sudo apt install 'alias co='git co'
alias ga='git add -A'
alias gam='git amend --reset-author'
alias gap='git add -p'
alias gb='git b'
alias gbb='git bisect bad'
alias gbg='git bisect good'
alias gbi='git rebase --interactive'
alias gci='git ci'
alias gcim='git ci -m'
alias gcln='git clean'
alias gclndf='git clean -df'
alias gclndfx='git clean -dfx'
alias gcm='git ci -m'
alias gco='git co'
alias gcp='git cp'
alias gd='git diff'
alias gdc='git diff --cached -w'
alias gdmb='git branch --merged | grep -v "\*" | xargs -n 1 git branch -d'
alias gds='git diff --staged -w'
alias gf='git fetch'
alias gfa='git fetch --all'
alias gfap='git fetch --all --prune'
alias gfch='git fetch'
alias gfp='git fetch --prune'
alias ggrc='git rebase --continue'
alias gi='vim .gitignore'
alias gl='git l'
alias glg='git l'
alias glog='git l'
alias gm='git merge'
alias gms='git merge --squash'
alias gnb='git nb'
alias gpl='git pull'
alias gplr='git pull --rebase'
alias gps='git push'
alias gpsh='git push -u origin `git rev-parse --abbrev-ref HEAD`'
alias gr='git rebase'
alias gra='git rebase --abort'
alias grad='git remote add'
alias grr='git remote rm'
alias grs='git reset'
alias grsh='git reset --hard'
alias grv='git remote -v'
alias gs='git status'
alias gsa='git stash apply'
alias gsh='git show'
alias gshow='git show'
alias gshw='git show'
alias gsm='git submodule'
alias gsmi='git submodule init'
alias gsmu='git submodule update'
alias gsp='git stash pop'
alias gst='git stash'
alias gstsh='git stash'
alias gt='git t'
alias gunc='git uncommit'
alias guns='git unstage'

alias bd='./gradlew clean build'
alias ver='./gradlew jacocoTestCoverageVerification'
alias run='./gradlew clean bootRun'
alias hard='git reset --hard origin/develop'
alias ts='./gradlew test'
alias int='./gradlew integrationTest'
alias bdr='./gradlew build --refresh-dependencies'

alias gft='git fetch origin'
alias grb='git rebase origin/'
alias explorer='xdg-open .  &>/dev/null'
alias check='./gradlew checkstyleMain checkstyleTest checkstyleIntegrationTest checkstyleFunctionalTest sonarlintMain sonarlintTest sonarlintIntegrationTest sonarlintFunctionalTest test jacocoTestReport --console=verbose'
alias slack="python3 /home/rcoelho/projects/github/slack-message-automation/slack.py "
alias k=kubectl
